* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(238,174,202);
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  block-size: 100dvh;
}


.calculator {
  background-color: black;
  padding: 25px;
  border-radius: 30px;
  box-shadow: 14px 23px 40px 12px rgba(0,0,0,0.51);
}

.display {
  font-size: 75px;
  color: rgb(63, 58, 58);
  text-align: right;
  padding: 0 20px;
  background: rgb(221,160,187);
  background: linear-gradient(90deg, rgba(221,160,187,1) 0%, rgba(148,187,233,1) 100%);
  border-radius: 20px;
  margin-block-end: 25px;
  inline-size: 100%;
  block-size: 103px;
  overflow-x: auto;
}

.display::-webkit-scrollbar {
  background-color: transparent;
  display: inline;
}

.buttons {
  display: flex;
  gap: 10px;
  justify-content: space-between;
}

.number-buttons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.accent-buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;

}

.button {
  border: none;
  inline-size: 90px;
  block-size: 90px;
  font-size: 30px;
  border-radius: 50px;
  color: white;
  text-transform: uppercase;
}
.additional-button {
  background: rgb(187,108,81);
  background: linear-gradient(150deg, rgba(187,108,81,0.9220063025210083) 0%, rgba(205,169,110,0.9192051820728291) 100%);
}
.accent-button {
  background: rgb(181,98,85);
  background: linear-gradient(90deg, rgba(181,98,85,1) 0%, rgba(148,187,233,1) 100%);
}
.number-button {
  color: rgb(63, 58, 58);
  background: rgb(221,160,187);
background: linear-gradient(90deg, rgba(221,160,187,1) 0%, rgba(148,187,233,1) 100%);
}
.zero-button {
  border-radius: 50px;
  grid-column: span 2;
  inline-size: 100%;
}


@media (width < 440px) {
  
  .button {
    inline-size: 60px;
    block-size: 60px;
    font-size: 20px;
  }

  .zero-button {
    inline-size: 100%;
  }

}

